In [4]:
#Import Packages
import pandas as pd
import requests
import numpy as np
import requests
import json
import sqlite3 as sqlite

In [ ]:
#Example file paths used on my device 
#/Users/jameskulp/Desktop/DS 2002/student_sleep_patterns.csv
#/Users/jameskulp/Desktop/DS 2002/lung_dataset.json

In [134]:
#  #Getting the user specify whether it's CSV or JSON they want to be converted 
#.strip().upper() addition prevents a malfuction from typing in lowecase for example 
data_type = input("Enter data type (CSV or JSON): ").strip().upper()

#Getting user to input their dataset 
if data_type == "CSV":
    csv_path = input("Input file path: ")
    print("File path saved as 'csv_path'")
    data = load_csv(csv_path)
elif data_type == "JSON":
    json_path = input("Input file path: ")
    print("File path saved as 'json_path'")
    data = load_json(json_path)
else:
    print("Invalid file type") #helpful Error message
    data = 'NA'

Enter data type (CSV or JSON):  csv
Input file path:  /Users/jameskulp/Desktop/DS 2002/student_sleep_patterns.csv

File path saved as 'csv_path'

In [58]:
#Loading a CSV Path 
def load_csv (csv_path):
    csv_data = pd.read_csv(csv_path)
    return csv_data

csv_data = load_csv (csv_path)

In [102]:
#Loading a JSON Path 
#def load_json(json_path):
    #json_data = pd.read_json(json_path)
    #return json_data
#json_data = load_json (json_path)

In [106]:
#Show/esure data are properly loaded 
#Achieves Benchmark 1 by gaining user inputs that effectively load the file onto the program 
#Achieves Benchmark 5 with the shape function specifying the columns (14) records (500) in this case 
def summary_stats(csv_or_json):
    print(csv_or_json.head())
    print(csv_or_json.columns)
    print(csv_or_json.shape)

summary_stats(csv_data)
#summary_stats(json_data)

   Student_ID  Age Gender University_Year  Sleep_Duration  Study_Hours  \
0           1   24  Other        2nd Year             7.7          7.9
1           2   21   Male        1st Year             6.3          6.0
2           3   22   Male        4th Year             5.1          6.7
3           4   24  Other        4th Year             6.3          8.6
4           5   20   Male        4th Year             4.7          2.7

   Screen_Time  Caffeine_Intake  Physical_Activity  Sleep_Quality  \
0          3.4                2                 37             10
1          1.9                5                 74              2
2          3.9                5                 53              5
3          2.8                4                 55              9
4          2.7                0                 85              3

   Weekday_Sleep_Start  Weekend_Sleep_Start  Weekday_Sleep_End  \
0                14.16                 4.05               7.41
1                 8.73                 7.10               8.21
2                20.00                20.47               6.88
3                19.82                 4.08               6.69
4                20.98                 6.12               8.98

   Weekend_Sleep_End
0               7.06
1              10.21
2              10.92
3               9.42
4               9.01
Index(['Student_ID', 'Age', 'Gender', 'University_Year', 'Sleep_Duration',
       'Study_Hours', 'Screen_Time', 'Caffeine_Intake', 'Physical_Activity',
       'Sleep_Quality', 'Weekday_Sleep_Start', 'Weekend_Sleep_Start',
       'Weekday_Sleep_End', 'Weekend_Sleep_End'],
      dtype='object')
(500, 14)

In [132]:
#Converting CSV to JSON 
def csv_to_json(df):
    return df.to_json(orient='records')
new_json_data = csv_to_json(csv_data)

#Saving the new JSON to a file  
with open('json_from_csv.json', 'w') as json_file:
    json.dump(json.loads(new_json_data), json_file, indent=4)
#I checked my directory and the file uploaded successfully as a JSON (part of Benchmark 4)

In [140]:
#Converting JSON to CSV 
def json_to_csv(df, csv_path):
    try:
        # Must convert JSON columns to strings essentially a new Data Frame 
        df = df.applymap(lambda x: str(x) if isinstance(x, dict) else x)

        # Converting the Data Frame to a CSV file
        df.to_csv(csv_path, index=False)

        print(f"CSV file saved to: {csv_path}")

    except Exception as e:
        print(f"An error occurred: {e}")

#json_to_csv(json_data, 'csv_from_json.csv')
#Code above runs but I wanted to display output from the CSV portion

In [124]:
#Modifying CSV or JSON file by adding or dropping columns
#Achieves Benchmark 3
def add_columns(data, new_column_name):
#User must input the new column name as a sting   
    try:
        if isinstance(new_column_name, str):
            data[new_column_name] = None
            return data 
        else:
            return "Please input new_column_name as a string"      
    except Exception as e:
        print(f"An error occurred: {e}")

def drop_columns(data, column_name):
#User must specify an existing column name    
    try:
        if isinstance(column_name, str):
            data = data.drop(columns=column_name)
            return data
        else:
            return "Please input a valid column name as a string"       
    except Exception as e:
        print(f"An error occurred: {e}")

In [ ]:
#Testing the Add Function 
a

In [142]:
#Testing the Drop function
drop_columns(csv_data, 'Sleep_Quality')

,Student_ID,Age,Gender,University_Year,Sleep_Duration,Study_Hours,Screen_Time,Caffeine_Intake,Physical_Activity,Weekday_Sleep_Start,Weekend_Sleep_Start,Weekday_Sleep_End,Weekend_Sleep_End
0,1,24,Other,2nd Year,7.7,7.9,3.4,2,37,14.16,4.05,7.41,7.06
1,2,21,Male,1st Year,6.3,6.0,1.9,5,74,8.73,7.10,8.21,10.21
2,3,22,Male,4th Year,5.1,6.7,3.9,5,53,20.00,20.47,6.88,10.92
3,4,24,Other,4th Year,6.3,8.6,2.8,4,55,19.82,4.08,6.69,9.42
4,5,20,Male,4th Year,4.7,2.7,2.7,0,85,20.98,6.12,8.98,9.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,24,Male,2nd Year,5.1,9.3,1.9,4,110,17.42,8.43,6.93,10.78
496,497,20,Male,2nd Year,8.9,7.7,3.5,3,40,1.22,15.54,5.85,7.23
497,498,21,Male,3rd Year,5.7,6.4,3.9,1,68,9.94,2.25,5.46,10.72
498,499,18,Female,2nd Year,4.9,0.5,3.5,0,12,19.10,15.49,8.35,7.20
499,500,21,Male,3rd Year,7.9,11.6,1.0,0,86,7.54,14.12,7.01,9.19

In [122]:
#Converting Either to SQL
#Finishes Benchmark 4
def convert_to_sql (data, database_name, sql_table_name):
    try:
        conn = sqlite.connect(database_name) 
        data.to_sql(sql_table_name, conn, if_exists='replace', index=False)     
        print(f"Table '{sql_table_name}' successfully written to database '{database_name}'")    
    except sqlite3.Error as e:
        # Catches SQLite errors
        print(f"An error occurred while writing to the database: {e}")  
    except Exception as e:
        # Catches any other errors
        print(f"An unexpected error occurred: {e}")   
    finally:
        # Ensure the connection is closed even if an error occurs
        if conn:
            conn.close()

In [130]:
#Testing the Function
convert_to_sql (csv_data, 'student_sleep.db', 'student_sleep_csv')

Table 'student_sleep_csv' successfully written to database 'student_sleep.db'